extends ../layouts/main-layout


block styles
    link(rel='stylesheet', href='/css/forms.css')
    link(rel='stylesheet', href='/css/auth.css')
block content
    main
        if errorMessage
            div.user-message.user-message--error #{ errorMessage }
        form.login-form(action='/new-password' method='POST')
            input(type='hidden' value=`${csrfToken}` name='_csrf')
            input(type='hidden' value=`${ userId }` name='userId')
            input(type='hidden' value=`${ token }` name='token')
            .form-control
                label(for='password') Password
                input#password(type='password' name='password')
            button.btn(type='submit') Update password