extends ../layouts/main-layout

block styles
    link(rel='stylesheet', href='/css/forms.css')
    link(rel='stylesheet', href='/css/product.css')
block content
    main
        form.product-form(action='/admin/add-product' method='POST')
            .form-control
                label(for='title') Title
                input#title(type='text' name='title')
            .form-control
                label(for='image_url') Image URL
                input#image_url(type='text' name='imageUrl')
                .form-control
                    label(for='price') Price
                    input#price(type='number' name='price', step='0.01')
            .form-control
                label(for='description') Description
                textarea#description(name='description', rows='6')
            button.btn(type='submit') Add Product