extends ../layouts/main-layout

block content
    main
        if cartProducts.length > 0
            ul
                each product in cartProducts
                    li
                        p #{ product.title } (#{ product.quantity })
                        form(action='/cart/delete' method='post')
                            input#id(type='hidden' name='id' value=`${ product._id }`)
                            button.btn Delete
            form(action='/order/create' method='post')
                button  Order now
        else
            h1 No Products in Cart