extends ../layouts/main-layout

block content
    main
        if products.length > 0
            ul
                each product in products
                    li
                        p #{ product.productId.title } (#{ product.quantity })
                        form(action='/cart/delete' method='post')
                            input#id(type='hidden' name='id' value=`${ product.productId._id }`)
                            button.btn Delete
            form(action='/order/create' method='post')
                button  Order now
        else
            h1 No Products in Cart