extends ../layouts/main-layout

block content
    main
        if orders && orders.length > 0
            ul.orders
                each order in orders
                    li.orders__item
                        h1 #{ order._id }
                        ul.orders__products
                            each product in order.products
                                li.orders__products-item #{ product.product.title } (#{ product.quantity }) -
                                    a(href=`/orders/${ order._id }`) Invoice
        else
            h1 Nothing there!